<div class="main-content">
    <div class="container-fluid">
      <expansion-panels-container>
    <expansion-panel>
        <expansion-panel-title>
          Credential Leger - Current Requests
        </expansion-panel-title>

          <expansion-panel-content>
          <div class="row">
              <div class="col-md-12">
                  <div class="card">
                      <div class="card-header" data-background-color="blue">
                          <h4 class="title">Current Requests</h4>
                          <p class="category">Here is a subtitle for this table</p>
                      </div>
                      <div class="card-content table-responsive">
                          <table class="table table-hover">
                              <thead>
                                  <tr>
                                      <th>Authority</th>
                                      <th>Requested</th>
                                      <th>Type</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>UP1</td>
                                      <td>Dakota Rice</td>
                                      <td>Oud-Turnhout</td>
                                  </tr>
                                  <tr>
                                      <td>UP2</td>
                                      <td>Minerva Hooper</td>
                                      <td>Sinaai-Waas</td>
                                  </tr>

                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
        </expansion-panel-content>
        </expansion-panel>
        <expansion-panel>
            <expansion-panel-title>
              Credential Leger - Fulfilled Requests
            </expansion-panel-title>

              <expansion-panel-content>
              <div class="row">
                  <div class="col-md-12">
                      <div class="card">
                          <div class="card-header" data-background-color="blue">
                              <h4 class="title">Fulfilled Requests</h4>
                              <p class="category">Here is a subtitle for this table</p>
                          </div>
                          <div class="card-content table-responsive">
                              <table class="table table-hover">
                                  <thead>
                                      <tr>
                                          <th>Authority</th>
                                          <th>Requested</th>
                                          <th>Type</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td>UP1</td>
                                          <td>Dakota Rice</td>
                                          <td>Oud-Turnhout</td>
                                      </tr>
                                      <tr>
                                          <td>UP2</td>
                                          <td>Minerva Hooper</td>
                                          <td>Sinaai-Waas</td>
                                      </tr>

                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
            </expansion-panel-content>
            </expansion-panel>
            <expansion-panel>
                <expansion-panel-title>
                  Credential Leger - Expired Requests
                </expansion-panel-title>

                  <expansion-panel-content>
                  <div class="row">
                      <div class="col-md-12">
                          <div class="card">
                              <div class="card-header" data-background-color="blue">
                                  <h4 class="title">Expired Requests</h4>
                                  <p class="category">Here is a subtitle for this table</p>
                              </div>
                              <div class="card-content table-responsive">
                                  <table class="table table-hover">
                                      <thead>
                                          <tr>
                                              <th>Authority</th>
                                              <th>Requested</th>
                                              <th>Type</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr>
                                              <td>UP1</td>
                                              <td>Dakota Rice</td>
                                              <td>Oud-Turnhout</td>
                                          </tr>
                                          <tr>
                                              <td>UP2</td>
                                              <td>Minerva Hooper</td>
                                              <td>Sinaai-Waas</td>
                                          </tr>

                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </div>
                  </div>
                </expansion-panel-content>
                </expansion-panel>
</expansion-panels-container>

    </div>
</div>
