<footer>
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="http://10xts.com/">
                        Home
                    </a>
                </li>
                <li>
                    <a href="http://10xts.com/about/">
                        Company
                    </a>
                </li>
                <li>
                    <a href="http://10xts.com/blog/">
                       Blog
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}} <a href="http://www.10xts.com">© 10XTS</a>
        </p>
    </div>
</footer>
