<div class="main-content">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header" data-background-color="blue">
                    <h4 class="title">Credential Details</h4>
                </div>
                <div class="card-content">
                    <form>
                        <div class="row">
                            <div class="col-md-4">
                                 <label class="control-label">Owner Name</label>
                                 <p class="card-text">First name Last Name</p>
                            </div>
                            <div class="col-md-4">
                                  <label class="control-label">Authority</label>
                                  <p class="card-text">Authority</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                  <label class="control-label">Description</label>
                                  <p class="card-text">DescriptionDescriptionDescriptionDescriptionDescription
                                     DescriptionDescriptionDescriptionDescription
                                    DescriptionDescriptionDescriptionDescriptionDescriptionDescription
                                    DescriptionDescriptionDescriptionDescription</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                  <label>Start Date</label>
                                  <p class="date">23/12/2017</p>
                            </div>
                            <div class="col-md-4">
                                  <label>End Date</label>
                                  <p class="date">23/12/2017</p>
                            </div>
                            <div class="col-md-4">
                                  <label>End Date</label>
                                  <p class="date">23/12/2017</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                              <label class="control-label">Score</label>
                              <p class="number">23</p>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-danger pull-right">View Credential</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
